.plan-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 5%;
    margin: 8% 18% 5% 0%;
}

.plan {
    height: 20vh;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 13%;
    cursor: pointer;
    &:first-child {
        border: 1px solid var(--purplish-blue);
    }
    &:nth-child(2) {
        border: 1px solid var(--purplish-blue);
    }
    &:nth-child(3) {
        border: 1px solid var(--cool-gray);
    }
}

.plan-name {
    color: var(--marine-blue);
    font-weight: 500;
}

.plan-rate {
    color: var(--cool-gray);
}

.tenure-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(227 240 251);
    width: 82%;
    height: 38px;
    border-radius: 5px;
}