.content-warpper {
    margin-left: 15%;
    margin-top: 5%;
    color: var(--marine-blue);
}

.form-control {
    margin-top: 5%;
}

.ui-btn-primary {
    margin-top: 7%;
    float: right;
    margin-right: 25%;
}

.go-back {
    color: var(--cool-gray);
    cursor: pointer;
    &:hover {
        color: var(--marine-blue);
    }
}