.step {
    display: flex;
    align-items: center;
    margin: 14% 14% 0% 10%;
    color: var(--white);
}
  
.bubble {
    border: 1.5px solid var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8%;
    text-align: center;
    &.selected {
        color: #000;
        background-color: var(--white);
    }
}