.warpper {
  background-color: var(--white);
  width: 60vw;
  height: 80vh;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  /* align-items: center; */
  box-sizing: border-box;
  padding: 2%;
}

.steper {
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.content {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .warpper {
    width: 100vw;
    height: 100vh;
  }
}