.warpper {
  background-color: var(--white);
  width: 80vw;
  height: 80vh;
  border-radius: 2%;
  /* border: 1px solid red; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2%;
}

.steper {
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 37%;
}

.content {
  height: 100%;
  width: 100%;
}

.step {
  display: grid;
  place-items: center;
}