$btnPrimaryColor: var(--white); 
$btnPrimaryBgColor: var(--marine-blue);
// $btnSecondaryColor, $btnSecondaryBgColor
@mixin button-variant($color, $background) {
  border-radius: 10px;
  border: 0 none;
  outline: none;
  color: $color;
  background-color: $background;
  font-size: 0.9em;
  line-height: 40px;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    background-color: $background;
  }
}
  
.ui-btn-primary {
  @include button-variant($btnPrimaryColor, $btnPrimaryBgColor);
}
// .ui-btn-secondary {
//   @include button-variant($btnSecondaryColor, $btnSecondaryBgColor);
// }
  
  // .ui-btn-danger {
  //   @include button-variant($btnDangerColor, $btnDangerBgColor);
  // }
  
  // .ui-btn-success {
  //   @include button-variant($btnSuccessColor, $btnSuccessBgColor);
  // }